*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
button {
  /* font-family: "Sedgwick Ave Display", cursive; */
  /* font-family: "DynaPuff", cursive; */
  font-family: "Montserrat", sans-serif;
  font-size: 67.5%;
  outline: none;
  border: none;
}
body {
  background-color: #d6d3d3;
  transition: 0.5s;
  overflow: hidden;
}

#root {
  max-width: 1200px;
  margin: 0 auto;
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.2em;
  position: relative;
  background-color: #3d3b3d;
  z-index: 10;
}
.logo {
  font-family: "Sedgwick Ave Display", cursive;
  font-size: 4rem;
  color: white;
}
.theme {
  padding: 0.5em;
  font-size: 1.2rem;
  font-weight: bold;
  cursor: pointer;
  transition: 0.5s;
}
.modalBox {
  display: none;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 100vw;
  height: 100vh;
  background-color: #d6d3d382;
}
.modal {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-basis: 25%;
  margin-bottom: 25em;
  height: 150px;
  padding: 10px;
  background-color: #3d3b3d;
  border-radius: 4px;
  border: 2px solid #726f72;
}
.modalText {
  width: 100%;
  text-align: center;
  font-size: 1.3rem;
  color: white;
  letter-spacing: 2px;
}
.modalBtn {
  align-self: flex-end;
}
.list {
  margin: 20px;
  display: flex;
  flex-wrap: wrap;
  list-style: none;
}
.item {
  margin: 2.5px 2.5px;
  display: flex;
  flex-direction: column;
  border: 2px solid #575357;
  border-radius: 4px;
  cursor: pointer;
  transition: 0.3s;
}
.itemAvatar {
  width: 200px;
  height: 250px;
  /* padding: 3px; */
  background-color: #e2e3c9;
  transition: 0.5s;
}

.desc {
  padding: 5px;
  border-top: 2px solid #575357;
  font-size: 1.2rem;
  color: white;
  background-color: #3d3b3d;
  text-align: center;
}
.desc:nth-of-type(1) {
  letter-spacing: 2px;
  text-align: center;
}
.desc:nth-of-type(2),
.desc:nth-of-type(3) {
  background-color: #707070;
}

.fightBox {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
}
.characters {
  display: flex;
  justify-content: space-between;
}
.eventLog {
  margin-top: 1.5em;
  /* padding: 20px; */
  border: 2px solid #3d3b3d;
  background-color: #3d3b3d;
  border-radius: 4px;
  width: 50%;
  align-self: center;
  height: 200px;
  overflow-y: scroll;
  list-style: none;
}
.eventLog li {
  /* margin-top: 0.2em; */
  border: 2px solid #3d3b3d;
  padding: 0.5em;
  background-color: #626062;

  font-size: 1.2rem;
  color: white;
}
.eventLog li.pc {
  background-color: #707070;
}
.eventLogHeader {
  margin-top: 3em;
  align-self: center;
}
.fightButtons {
  align-self: center;
}
.fightButton {
  margin: 0 0.5em;
  padding: 1.2em;
  font-size: 1.2rem;
  font-weight: bold;
}

.eventLogInfo {
  margin-top: 1em;
  text-align: center;
  color: white;
  font-size: 1.2rem;
}
.active {
  border-color: white;
  /* box-shadow: 5px 5px 5px rgba(68, 68, 68, 0.6); */

  box-shadow: 0 6px 20px 0 rgba(50, 50, 49, 0.837),
    0 6px 20px 0 rgba(50, 50, 49, 0.837);
}
.healthPc,
.healthPlayer {
  height: 100%;
  position: relative;
  font-weight: bold;
  z-index: 2;
}
.boxHealthPC,
.boxHealthPlayer {
  position: relative;
  /* margin-bottom: 2px; */
  padding: 3px;
  width: 100%;
  text-align: center;
  /* border: 1px solid black; */
  background-color: #922020;
  color: white;
  z-index: 0;
  /* transition: width 1s; */
}
.progressBarPc,
.progressBarPlayer {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: #6405056d;
  /* animation: progress-bar-animation 2s; */
  z-index: 1;
  transition: width 1s;
}
/*
@keyframes progress-bar-animation {
  from {
    width: 100%;
  }
  to {
    width: 0;
  }
} */

.start {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.info {
  margin-top: 2em;
  font-weight: 400;
}
.startBtn {
  margin-top: 1em;
  padding: 0.5em;
  font-size: 1.2rem;
  font-weight: bold;
}
.mainBtn {
  padding: 1em;
  font-size: 1.2rem;
  background-color: #707070;
  color: white;
  cursor: pointer;
  border-radius: 4px;
  outline: none;
  transition: background-color 0.3s;
}
.mainBtn:hover {
  background-color: #5f5f5f;
}
.fightButton:disabled {
  opacity: 0.2;
  cursor: default;
}
.winner {
  /* box-shadow: 5px 5px 5px 5px gold; */
  /* box-shadow: 14px 10px 14px gold, 0 10px 40px gold inset; */
  box-shadow: 0 6px 20px 0 rgba(148, 130, 15, 0.837),
    0 6px 20px 0 rgba(148, 130, 15, 0.837);
}
.themeBody {
  background-color: #545454;
  transition: 0.5s;
}
.themeItems {
  border: 2px solid black;
  transition: 0.5s;
}
.themeItems img.itemAvatar {
  background-color: #4e6114;
  transition: 0.3s;
}

.mainAudio {
  /* display: none; */
  position: absolute;
  top: 85px;
  right: -100%;
  transition: 0.5s;
}
.activeMainAudio {
  right: 10px;
}
.pressed {
  background-color: #5f5f5f;
}
.playAgainBtn {
  display: none;
  margin-top: 10px;
  align-self: center;
}
