*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
button {
  /* font-family: "Sedgwick Ave Display", cursive; */
  font-family: "DynaPuff", cursive;
  font-size: 67.5%;
}
body {
  background-color: #d6d3d3;
}
#root {
  max-width: 1200px;
  margin: 0 auto;
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.2em;
  background-color: #575357;
}
.logo {
  font-family: "Sedgwick Ave Display", cursive;
  font-size: 2.2rem;
  color: white;
}
.theme {
  padding: 0.5em;
  font-size: 1.2rem;
  cursor: pointer;
}
.list {
  margin: 20px;
  display: flex;
  list-style: none;
}
.item {
  margin: 0 5px;
  display: flex;
  flex-direction: column;
  border: 2px solid #575357;
  border-radius: 4px;
  cursor: pointer;
}
.itemAvatar {
  width: 200px;
  height: 250px;
  padding: 3px;
  background-color: #e2e3c9;
}
.desc {
  padding: 5px;
  border-top: 2px solid #575357;
  font-size: 1.2rem;
  color: white;
  background-color: #3d3b3d;
}
.desc:nth-of-type(1) {
  letter-spacing: 2px;
  text-align: center;
}

.fightBox {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
}
.characters {
  display: flex;
  justify-content: space-between;
}
.eventLog {
  padding: 20px;
  border: 1px solid black;
}
.active {
  border-color: white;
  box-shadow: 5px 5px 5px rgba(68, 68, 68, 0.6);
}
.healthPc,
.healthPlayer {
  height: 100%;
  position: relative;
  font-weight: bold;
  z-index: 2;
}
.boxHealthPC,
.boxHealthPlayer {
  position: relative;
  /* margin-bottom: 2px; */
  padding: 3px;
  width: 100%;
  text-align: center;
  /* border: 1px solid black; */
  background-color: #922020;
  color: white;
  z-index: 0;
  /* transition: width 1s; */
}
.progressBarPc,
.progressBarPlayer {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: #6405056d;
  /* animation: progress-bar-animation 2s; */
  z-index: 1;
  transition: width 1s;
}
/*
@keyframes progress-bar-animation {
  from {
    width: 100%;
  }
  to {
    width: 0;
  }
} */

.start {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.info {
  margin: 3px;
}
.startBtn {
  margin-top: 1em;
  padding: 0.5em;
  font-size: 1.2rem;
}
