*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
#root {
  max-width: 1200px;
  margin: 0 auto;
}
.header {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  background-color: #b045b0;
}
.logo {
  color: white;
}
.theme {
  cursor: pointer;
}
.list {
  margin: 20px;
  display: flex;
  list-style: none;
}
.item {
  margin: 0 5px;
  display: flex;
  flex-direction: column;
  border: 1px solid black;
  cursor: pointer;
}
.itemAvatar {
  width: 200px;
  height: 250px;
  padding: 3px;
}
.desc {
  padding: 2px;
  border-top: 1px solid black;
}

.fightBox {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
}
.characters {
  display: flex;
  justify-content: space-between;
}
.eventLog {
  padding: 20px;
  border: 1px solid black;
}
.active {
  border-color: #b045b0;
}
.healthPc {
  position: relative;
  font-weight: bold;
  z-index: 2;
}
.boxHealthPC,
.healthPlayer {
  position: relative;
  margin-bottom: 2px;
  width: 100%;
  text-align: center;
  border: 1px solid black;
  background-color: #922020;
  color: white;
  z-index: 0;
  /* transition: width 1s; */
}
.progressBar {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: #6405056d;
  /* animation: progress-bar-animation 2s; */
  z-index: 1;
  transition: width 1s;
}
/*
@keyframes progress-bar-animation {
  from {
    width: 100%;
  }
  to {
    width: 0;
  }
} */
