*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
#root {
  max-width: 1200px;
  margin: 0 auto;
}
.header {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  background-color: #b045b0;
}
.logo {
  color: white;
}
.theme {
  cursor: pointer;
}
.list {
  margin: 20px;
  display: flex;
  list-style: none;
}
.item {
  margin: 0 5px;
  display: flex;
  flex-direction: column;
  border: 1px solid black;
  cursor: pointer;
}
.itemAvatar {
  width: 200px;
  height: 250px;
  padding: 3px;
}
.desc {
  padding: 2px;
  border-top: 1px solid black;
}
.active {
  border-color: #b045b0;
}
